@if $formeditor-include-styles {

  $_block: "forms";
  $_group_container: $_block + "--element-group-container";
  $_applicable_element_container: $_block + "--applicable-element-container";

  $form_page_block: "form-page-container";

  $form_element_block: "form-element-drop-container";
  $form_element_drag_active: $form_element_block + "--drag-active";
  $form_element_drop_active: $form_element_block + "--drop-active";
  $form_element_empty: $form_element_block + "--empty";

  $options-header-block: "core-forms-options-header";
  $options-header-block-selected: $options-header-block + "--selected";


  .#{$_group_container} {
    border-top: 1px solid;
    border-color: #b3b1b1;
    margin-top: 30px;
    padding-top: 10px;
  }

  .#{$form_element_block} {
    margin: 10px 15px 0 10px;
    background: rgba(0, 0, 0, 0.04);
    border: 2px solid rgba(0, 0, 0, 0.04);
    padding: 6px;
    color: rgba(0, 0, 0, 0.27);
  }

  .#{$form_page_block} {
    margin: 10px 15px 0 10px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.04);
    padding: 6px;
    color: rgba(0, 0, 0, 0.27);
  }

  .#{$form_element_drag_active} {
    border: 2px dashed rgba(0, 0, 0, 0.61);
    color: rgba(0, 0, 0, 0.61);
  }

  .#{$form_element_drop_active} {
    border: 2px dashed rgba(64, 137, 221, 1);
    background: #d8e7f8;
  }

  .#{$form_element_empty} {
    height: 150px;
    padding-top: 60px;
  }

  .#{$_applicable_element_container} {
    cursor: move;
    label {
      cursor: inherit;
    }
  }

  /**
   * The validation state is used to display mark the applied form element containers. If the panel is collapsed, the
   * container is not bordered in red. The following css block is needed to display coremedias components correctly in
   * case the form element is invalid.
   *
   */
  .x-panel-card-200.cm-validation-state-error .x-panel-header {
    z-index: 1;
    position: relative;
    border: 1px solid #c41313;
    border-left-width: 5px;
    padding-left: 8px;
  }

  .form-field-advanced-settings .x-panel-header{
    border: none!important;
    padding-left: 0!important;
  }

  .#{$options-header-block} {
    border: none !important;
    padding-left: 6px !important;
    &:hover {
      background: #f7f7f7;
    }

    .x-panel-header-title-default {
      font-weight: normal !important;
    }
    &.#{$options-header-block-selected} {
      .x-panel-header-title-default {
        font-weight: bold !important;
      }
    }
  }

  .form-field-advanced-settings .advanced-settings-panel {
    border: 1px solid #b3b1b1;
  }

  .x-panel-card-200.cm-validation-state-error .x-panel-body-card-200 {
    border-top: 0;
  }

  .x-panel-card-200.cm-validation-state-error .x-panel-header.x-collapsed-form-element {
    border-bottom-width: 1px!important;
  }

  .x-title-icon.tallence-icons {
    font-weight: normal;
  }

}
