@if $formeditor-include-styles {

  @font-face {
    font-family: 'tallence-icon-font';
    src: url(get-resource-path('fonts/tallencecme.eot'));
    src: url(get-resource-path('fonts/tallencecme.eot?#iefix')) format('embedded-opentype'),
    url(get-resource-path('fonts/tallencecme.woff')) format('woff'),
    url(get-resource-path('fonts/tallencecme.ttf')) format('truetype'),
    url(get-resource-path('fonts/tallencecme.svg#Nouveau')) format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .tallence-icons {
    font-family: "tallence-icon-font";
  }

  .tallence-icons--form:before {
    content: '\e802';
  }

  .tallence-icons--input-text:before {
    content: '\e823';
  }

  .tallence-icons--input-number:before {
    content: '\e824';
  }

  .tallence-icons--input-phone:before {
    content: '\e825';
  }

  .tallence-icons--input-fax:before {
    content: '\e826';
  }

  .tallence-icons--input-mail:before {
    content: '\e827';
  }

  .tallence-icons--input-street-nr:before {
    content: '\e828';
  }

  .tallence-icons--input-city-zip:before {
    content: '\e829';
  }

  .tallence-icons--text-area:before {
    content: '\e82a';
  }

  .tallence-icons--radio-group:before {
    content: '\e82b';
  }

  .tallence-icons--checkbox-group:before {
    content: '\e82c';
  }

  .tallence-icons--select-dropdown:before {
    content: '\e82d';
  }

  .tallence-icons--upload:before {
    content: '\e82e';
  }

  .tallence-icons--confirm:before {
    content: '\e82f';
  }

  .tallence-icons--infotext:before {
    content: '\e830';
  }

  .tallence-icons--star-rating:before {
    content: '\e800';
  }

  .tallence-icons--input-date:before {
    content: '\e808';
  }


  $_block: "forms";
  $_group_container: $_block + "--element-group-container";
  $_applicable_element_container: $_block + "--applicable-element-container";

  $form_element_block: "form-element-drop-container";
  $form_element_drag_active: $form_element_block + "--drag-active";
  $form_element_drop_active: $form_element_block + "--drop-active";
  $form_element_empty: $form_element_block + "--empty";

  $options-header-block: "core-forms-options-header";
  $options-header-block-selected: $options-header-block + "--selected";


  .#{$_group_container} {
    border-top: 1px solid;
    border-color: #b3b1b1;
    margin-top: 30px;
    padding-top: 10px;
  }

  .#{$form_element_block} {
    margin: 10px 15px 0 10px;
    background: rgba(0, 0, 0, 0.04);
    border: 2px solid rgba(0, 0, 0, 0.04);
    padding: 6px;
    color: rgba(0, 0, 0, 0.27);
  }

  .#{$form_element_drag_active} {
    border: 2px dashed rgba(0, 0, 0, 0.61);
    color: rgba(0, 0, 0, 0.61);
  }

  .#{$form_element_drop_active} {
    border: 2px dashed rgba(64, 137, 221, 1);
    background: #d8e7f8;
  }

  .#{$form_element_empty} {
    height: 150px;
    padding-top: 60px;
  }

  .#{$_applicable_element_container} {
    cursor: move;
    label {
      cursor: inherit;
    }
  }

  /**
   * The validation state is used to display mark the applied form element containers. If the panel is collapsed, the
   * container is not bordered in red. The following css block is needed to display coremedias components correctly in
   * case the form element is invalid.
   *
   */
  .x-panel-card-200.cm-validation-state-error .x-panel-header {
    z-index: 1;
    position: relative;
    border: 1px solid #c41313;
    border-left-width: 5px;
    padding-left: 8px;
  }

  .form-field-advanced-settings .x-panel-header{
    border: none!important;
    padding-left: 0!important;
  }

  .#{$options-header-block} {
    border: none !important;
    padding-left: 6px !important;
    &:hover {
      background: #f7f7f7;
    }

    .x-panel-header-title-default {
      font-weight: normal !important;
    }
    &.#{$options-header-block-selected} {
      .x-panel-header-title-default {
        font-weight: bold !important;
      }
    }
  }

  .form-field-advanced-settings .advanced-settings-panel {
    border: 1px solid #b3b1b1;
  }

  .x-panel-card-200.cm-validation-state-error .x-panel-body-card-200 {
    border-top: 0;
  }

  .x-panel-card-200.cm-validation-state-error .x-panel-header.x-collapsed-form-element {
    border-bottom-width: 1px!important;
  }

  .x-title-icon.tallence-icons {
    font-weight: normal;
  }

}
