@font-face {
  font-family: 'tallence-icon-font';
  src: url(get-resource-path('fonts/tallencecme.eot'));
  src: url(get-resource-path('fonts/tallencecme.eot?#iefix')) format('embedded-opentype'),
  url(get-resource-path('fonts/tallencecme.woff')) format('woff'),
  url(get-resource-path('fonts/tallencecme.ttf')) format('truetype'),
  url(get-resource-path('fonts/tallencecme.svg#Nouveau')) format('svg');
  font-weight: normal;
  font-style: normal;
}

.tallence-icons {
  font-family: "tallence-icon-font";
}

.tallence-icons--contentder:before {
  content: '\e801';
}

.tallence-icons--form:before {
  content: '\e802';
}

.tallence-icons--redirector:before {
  content: '\e804';
}

.tallence-icons--input-text:before {
  content: '\e806';
}

.tallence-icons--input-number:before {
  content: '\e807';
}

.tallence-icons--input-phone:before {
  content: '\e808';
}

.tallence-icons--input-fax:before {
  content: '\e809';
}

.tallence-icons--input-mail:before {
  content: '\e80a';
}

.tallence-icons--input-street-nr:before {
  content: '\e80b';
}

.tallence-icons--input-city-zip:before {
  content: '\e80c';
}

.tallence-icons--text-area:before {
  content: '\e80d';
}

.tallence-icons--radio-group:before {
  content: '\e80e';
}

.tallence-icons--checkbox-group:before {
  content: '\e80f';
}

.tallence-icons--select-dropdown:before {
  content: '\e810';
}

.tallence-icons--upload:before {
  content: '\e811';
}

.tallence-icons--confirm:before {
  content: '\e812';
}

.tallence-icons--infotext:before {
  content: '\e813';
}